@use "../abstracts";

    .accordion-about {
      margin-top: 50px;
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      
      
    }
  



