@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85vw;
  margin-left: 7.5vw;
  margin-top: 40px;
}
@media screen and (max-width: 900px) {
  .navigation svg {
    width: 20vw;
  }
}
@media screen and (max-width: 450px) {
  .navigation svg {
    width: 40vw;
  }
}
@media screen and (max-width: 900px) {
  .navigation {
    width: 90vw;
    margin-left: 5vw;
  }
}
.navigation ul {
  width: 310px;
  justify-content: space-between;
  display: flex;
  list-style-type: none;
}
@media screen and (max-width: 900px) {
  .navigation ul {
    width: 30vw;
  }
}
@media screen and (max-width: 600px) {
  .navigation ul {
    width: 40vw;
  }
}
@media screen and (max-width: 380px) {
  .navigation ul {
    width: 42vw;
    justify-content: space-evenly;
  }
}
.navigation ul a {
  text-decoration: none;
  padding: 10px;
}
@media screen and (max-width: 450px) {
  .navigation ul a {
    padding: 5px 0px;
  }
}
.navigation ul a li {
  color: #FF6060;
  transition: 0.2s;
  cursor: pointer;
}
@media screen and (max-width: 450px) {
  .navigation ul a li {
    font-size: 0.7rem;
    text-transform: uppercase;
  }
}
.navigation ul a li:hover {
  font-weight: 900;
}

.nav-active {
  position: relative;
}
.nav-active::after {
  content: "";
  height: 4px;
  width: 0;
  background: #FF6060;
  position: absolute;
  border-radius: 10px;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-animation: anim 0.3s ease forwards;
  animation: anim 0.6s ease forwards;
}
@-webkit-keyframes anim {
  to {
    width: 100%;
  }
}
@keyframes anim {
  to {
    width: 100%;
  }
}

.dark-title {
  position: relative;
  width: 100vw;
  height: 233px;
  margin-top: 40px;
}
@media screen and (max-width: 900px) {
  .dark-title {
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
  }
}
@media screen and (max-width: 450px) {
  .dark-title {
    height: 12vh;
  }
}
.dark-title .title {
  position: absolute;
  background: linear-gradient(240deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.3) 100%);
  border-radius: 25px;
  height: 100%;
  width: 95vw;
  margin-left: 2.5vw;
  box-shadow: 4px 4px 15px 0px #d5d5d5;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 450px) {
  .dark-title .title {
    justify-content: flex-start;
    width: 100%;
  }
}
.dark-title .title img {
  position: absolute;
  border-radius: 25px;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.dark-title .title h1 {
  position: inherit;
  font-size: 3.5vw;
  margin-left: 20px;
  font-weight: 500;
  color: white;
  z-index: 2;
}
@media screen and (max-width: 450px) {
  .dark-title .title h1 {
    font-size: 7vw;
    width: 65vw;
  }
}

.gallery {
  width: 85vw;
  height: auto;
  margin-left: 7.5vw;
  margin-top: 57px;
  margin-bottom: 57px;
  padding-top: 56px;
  padding-bottom: 56px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F7F7F7;
}
@media screen and (max-width: 900px) {
  .gallery {
    background-color: transparent;
    margin-top: 0;
    margin-bottom: 0;
  }
}
@media screen and (max-width: 450px) {
  .gallery {
    width: 95vw;
    margin-left: 0;
  }
}
.gallery .card {
  display: flex;
  flex-wrap: wrap;
  width: 91%;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  gap: 56px;
}
@media screen and (max-width: 1050px) {
  .gallery .card {
    width: 75vw;
    justify-content: center;
  }
}
.gallery .card .oneCard {
  position: relative;
  width: 340px;
  height: 340px;
  cursor: pointer;
}
@media screen and (max-width: 1050px) {
  .gallery .card .oneCard {
    width: 75vw;
    height: auto;
  }
}
@media screen and (max-width: 450px) {
  .gallery .card .oneCard {
    height: 25vh;
    width: 90vw;
  }
}
.gallery .card .oneCard:hover {
  transform: scale(1.01);
}
.gallery .card .oneCard img {
  border-radius: 10px;
  width: inherit;
  height: inherit;
  box-shadow: 5px -5px 5px 0px #bfb1b2, 4px 1px 10px 0px #dde0d2;
}
.gallery .card .oneCard p {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: white;
  font-weight: 500;
  width: calc(100% - 40px);
  text-align: justify;
  z-index: 2;
}
.gallery .card .oneCard .dark {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(240deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
  border-radius: 10px;
}

footer {
  width: 100%;
  height: 289px;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer svg {
  margin-top: 66px;
  margin-bottom: 28px;
}
footer svg path {
  fill: white;
  width: 122px;
}
footer p {
  font-size: 24px;
  color: white;
}
@media screen and (max-width: 450px) {
  footer p {
    text-align: center;
  }
}

.logement-title {
  display: flex;
  margin-top: 30px;
  height: auto;
  width: 85vw;
  margin-left: 7.5vw;
}
.logement-title .title-location {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  height: fit-content;
}
.logement-title h1 {
  color: #FF6060;
  font-size: 36px;
  font-weight: 500;
}
.logement-title h2 {
  color: #FF6060;
  margin-top: 10px;
  font-size: 18px;
  font-weight: 500;
}
.logement-title .host-rate {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  width: 20%;
  height: unset;
}
.logement-title .host-rate .host {
  display: flex;
  align-items: center;
}
.logement-title .host-rate .host .host-name {
  color: #FF6060;
  font-size: 18px;
  margin-right: 10px;
}
.logement-title .host-rate .host .host-picture {
  width: 64px;
  height: 64px;
  border-radius: 50%;
}
.logement-title .host-rate .rating {
  display: flex;
}

.tag {
  display: flex;
}
.tag button {
  width: inherit;
  height: 25px;
  background-color: #FF6060;
  margin-right: 10px;
  border-radius: 10px;
  color: white;
  border: none;
  padding: 0px 30px;
  font-size: 14px;
  margin-top: 20px;
}

.main-about {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95vw;
}

.accordion-bloc {
  display: flex;
  justify-content: space-between;
  width: 85vw;
  margin-left: 7.5vw;
  margin-top: 50px;
  gap: 20px;
}

.accordion {
  height: auto;
  border-radius: 3px;
}
.accordion .accordion-visible {
  box-shadow: 4px 1px 10px 0px #FF6060;
  background-color: #FF6060;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 13px 13px;
  border-radius: 10px;
  color: white;
}
.accordion .accordion-visible h2 {
  font-size: 18px;
}
.accordion .accordion-toggle {
  box-shadow: 4px 1px 10px 0px #FF6060;
  font-size: 18px;
  text-align: justify;
  opacity: 0;
  transition: opacity 0.4s ease-in-out, height 0.4s 0.4s ease-in-out;
  margin-bottom: 31px;
}
.accordion .accordion-toggle.animated {
  opacity: 1;
  transition: height 0.4s ease-in-out, opacity 0.4s 0.4s ease-in-out;
}
.accordion .accordion-toggle .accordion-toggle-text {
  padding: 22px 15px;
  pointer-events: none;
  line-height: 2;
  color: #FF6060;
  background-color: #F6F6F6;
  list-style: none;
}

@media screen and (max-width: 450px) {
  .accordion-about .accordion {
    width: 95vw !important;
  }
}

.slides-container {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 40vh;
}
.slides-container .slider {
  position: relative;
  width: 85vw;
  height: 100%;
  overflow: hidden;
  border-radius: 25px;
  box-shadow: 4px 1px 10px 0px #dde0d2;
}
.slides-container .slider:hover {
  transform: scale(1.01);
}
.slides-container .slider .slide {
  position: absolute;
  transition-duration: 1s ease;
  opacity: 0;
  width: 100%;
  height: 100%;
}
.slides-container .slider .slide.slide-active {
  transition-duration: 1s;
  opacity: 1;
}
.slides-container .slider .slide.slide-active img.imageSlide {
  width: 100%;
  height: 100%;
  border-radius: 25px;
  object-fit: cover;
}
.slides-container .slider .slider-count {
  color: white;
  font-size: 18px;
  text-align: center;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}
.slides-container .slider .next,
.slides-container .slider .prev {
  border: none;
  background-color: transparent;
  position: absolute;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}
.slides-container .slider .prev {
  top: 40%;
  left: 32px;
}
.slides-container .slider .next {
  top: 40%;
  right: 32px;
}

*, ::before, ::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: "Montserrat", sans-serif;
}

.error {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.error h1 {
  margin-top: 160px;
  margin-bottom: 66px;
  font-size: 288px;
  font-weight: 700;
  color: #FF6060;
}
.error p {
  margin-bottom: 182px;
  font-size: 36px;
  font-weight: 500;
  color: #FF6060;
}
.error a {
  text-decoration: none;
  color: #FF6060;
  font-weight: 500;
  font-size: 18px;
}
.error a:hover {
  text-decoration: underline;
  font-weight: 900;
}

.accordion-about {
  margin-top: 50px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*# sourceMappingURL=style.css.map */
